<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>
    <title>Welcome</title>
</head>
<body>
    <p>Welcome, {{name}}! </p>
    <p>We're happy to have you on our team. We hope you'll always feel free to speak up, share your thoughts and challenge us. We're all going to grow together here, and we look forward to it!</p>
    <p>Your password is {{password}} </p>
    <p>You can set your password on the attendance app settings</p>
    <p>Thank you, <br/>Purwadhika Team</p>
</body>
</html>